html, body {
    padding: 0;
    margin: 0;
}

html::-webkit-scrollbar { display: none; }
h1, h2, h3, h4 { 
    text-transform: uppercase;
}
p, h1, h2, h3, h4, .p, .web-c {
    font-family: 'Montserrat', sans-serif;
    margin: 0px 0px 15px 0px;
}

/* a {
    color: #2d2d2d;
} */
a {
    text-decoration: none;
    color: white;
}
.anchor {
    color: blue !important;
    text-decoration: underline !important;
}
p {
    font-size: 13px;
    letter-spacing: 1px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;font-weight: 600;
    text-transform: uppercase;
    color: #444444;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }
  li {float: left;}
  li a:hover, a:hover {
    cursor: pointer;
    transition: 0.3s;
  }
  
::selection {
    background-color: #ff7e00;
    color: white;
}
.un {
    list-style-type: none;
    margin-top: 15vh; 
}
img {
    width: 100%;
}
hr {margin: 0px 0px 25px 0px;}
textarea {resize: none}

table {
    border-collapse: collapse;
    width: 100%;
  }
  .tbl-holder {
    overflow-x: auto;
    width: 80%;
  }
  @media screen and (max-width: 426px) {
    .tbl-holder {
        border-collapse: collapse;
        width: 300px;
      } 
  }
  
  td, th{
    border: 1px solid #cccccc;
    text-align: left;
    padding: 5px;
    transition: 0.3s;
    cursor: pointer;
  }
  td:hover{
      transition: 0.3s;
      color: #ffffff;
      background: #f59e42;
  }
  tr:nth-of-type(even){
      background: #dddddd;
  }

.hr {margin: 25px 0}
.i-cwhite {color: #ffffff;}
.i-cblack {color: #2d2d2d;}
.i-corange {color: #ff7e00;}
.i-bwhite {background: #ffffff !important}
.i-bblack {background: #2d2d2d;}
.i-borange {background: #ff7e00;}
.p {font-size: 13px;} 
/* rows and grids */
.rows {
    
    padding: 5% 0;
    width: 100%;
}

.global-container {
    margin: auto;
    padding-top: 10px;
    width: 60%;
}

.global-small-container {
    margin: auto;
    width: 40%;
}
.global-small-two-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin: auto;
    width: 60%;
}

.global-four-col {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px;
    padding: 5vh 0px;
}
.global-three-col {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10vh;
}
.global-two-col {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 35px;
}
.global-un-gap {
    grid-column-gap: 0px;

}

@media screen and (max-width: 1030px) {
    
    .global-two-col, .global-three-col, .global-four-col {
        grid-template-columns: repeat(2, 50%);
    }
}

@media screen and (max-width: 700px) {
    
    .global-two-col, .global-three-col, .global-four-col {
        grid-template-columns: 1fr;
    }
}

/* alignments */
.no-margin {
    margin: 0;
}
.margin-auto {
    width: 80%;
    margin: auto;
}
.margin-bottom-more {
    margin-bottom: 20px;
}
.margin-top {
    margin-top: 10px;
}
.margin-right {
    margin-right: 10px;
}
.global-three-col > div > img {
    width: 100%;
}
.flex {
    display: flex;
}

.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-l {
    float: left;
}
.float-r {
    float: right;
}

.justify {
    text-align: justify;
}


/* navbar */
.navbar-wrapper {
    display: block;
    width: 100%;
    background: #fff;
}

.navbar-container {
    position: fixed;
    width: 100%;
    background: #fff;
    top: 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 3;
}
.menus {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 60%;
    margin: auto;
}

.menu-holder {
    width: 100%;
}
.logo {
    width: 65%;
}

.padded {padding: 50px 0 15vh 0;}
.padded-left {padding-left: 25px;}

/* dropdown */
.d .d-con, .e .e-con {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    font-family: inherit;
}
.d-con, .e-con{
    display: none;
    position: absolute;
    background: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}

.d:hover .d-con, .e:hover .e-con {
    display: block;
    animation: pop-in 0.3s;}
    @keyframes pop-in {
        from {opacity: 0}
        to {opacity: 1}
}

.web-a{
    font-size: 12px;
    color: #727071;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 15px;}
    .web-a:hover, .web-c:hover {
        cursor: pointer;
    }
.web-a::after{
    background: #ff7e00;
    content: '';
    display: block;
    width: 0;
    margin-top: 5px;
    height: 2px;
    transition: width .3s;
}
.web-a:hover::after{
    width: 30%;
    margin-top: 5px;
    background: #ff7e00;
    transition: 0.3s;
}
.web-c{
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    padding-left: 5px;
}
.web-c::after{
    background: #ffffff;
    content: '';
    display: block;
    width: 0;
    margin-top: 5px;
    height: 2px;
    transition: width .3s;
}
.web-c:hover::after{
    width: 80%;
    margin-top: 5px;
    background: #ffffff;
    transition: 0.3s;
}

.mobile-menu {
    display: none;
}
.mob-menu {
    position: fixed;
    background: #ffffff;
    top: -100vh;
    width: 100%;
    transition: 0.3s;
    z-index: 15;
    height: 100vh;
}

.form-btn {
    border: none;
    outline: 0;
    padding: 5px;
    margin-bottom: 15px;}
    .rnd{
        padding-right: 10px;
        border-radius: 0px 25px 25px 0px; }
        @media screen and (max-width: 1440px) {
            .rnd {
                border-radius: 0;
            }
        }
        .no-border {
            width: 50% !important;
            border: none !important;
        }

.un > div {
    position: absolute;
    top: 15%;
    right: 15%;
}
.bordered {
    border: 0.5px solid #333333;
}       
@media screen and (max-width: 1024px) {
    h2 {
        font-size: 20px;
    }
    .web-menu {
        display: none;
    }
    .mobile-menu {
        display: block;
    }
}
.footer {
    position: relative;
    display: block;
    bottom: 0;
}
.blank {
    height: 15vh;
    width: 100%;
}

.crumb > *{
    display:inline-block;

  }
  .crumb > *.active::after{

    width: 70%;
    margin-top: 5px;
    background: #ffffff;
    transition: 0.3s;
 }