.banner, .header {
    display: block;
    background: #ff7e00;
    position: relative;
    width: 100%;
    -webkit-clip-path: /* url(#clip); */ polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: /* url(#clip); */ polygon(0 0, 100% 0, 100% 85%, 0 100%);
    height: 70vh;
    transition: 0.5s;
}
.banner-gfx {
    position: absolute;
    width: 70%;
    bottom: 0;
    right: 0;
    animation: ease-outs 0.5s;
    transition: 0.5s;
}
.banner-content {
    z-index: 2;
}
.header {height: 35vh;}
.header > div > h2 {font-size: 30px;}

@keyframes ease-outs {
    from {
        bottom: -15
    }
    to {
        bottom: 0
    }
}
.banner > div > div {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    text-transform: uppercase;
}
.banner > div > div > * {
    margin: 0;
}
.rounded-btn {
    display: flex;
    align-items: center;
    border: none;
    outline: 0;
    padding: 0px 25px 0px 0px;
    border-radius: 0px 25px 25px 0px;
    background: #ffffff;
    transition: 0.3s;}
    .rounded-btn:hover {
        transition: 0.3s;
        padding: 0px 25px 0px 15px;
    }
.rounded-btn > *{color: #ff7e00;}
.rounded-btn > p {
    text-transform: uppercase;
    margin: 10px 25px 10px 10px;
    font-weight: 700;
    font-size: 20px;
}
.rounded-btn > i {
    font-weight: 700;
    font-size: 20px;
}

.banner > div > div > h3 {
    font-size: 20px;
}
.banner > div > div > h4 {
    font-size: 35px;
}

.global-container > div > div > h2 {
    margin-bottom: 3vh;
}

.dark > div > * {color: #ffffff;}
.dark > div > i {
    margin: 0px 0px 3vh 0px;
    color: #ffffff;
    font-size: 20px;
}
.bucket {
    width: 60%;
    margin: auto;
    margin-top: -35%;
}
.bucket-tag {
    text-transform: uppercase;
    font-weight: 600;
}

.mini-rounded-btn {
    display: flex;
    align-items: center;
    border: none;
    outline: 0;
    border-radius: 0px 25px 25px 0px;
    width: 180px;
    transition: 0.3s;}
    .mini-rounded-btn:hover {
        transition: 0.3s;
        padding-left: 15px;
        width: 200px; 
    }
.mini-rounded-btn > *{color: #fff;}
.mini-rounded-btn > p {
    text-transform: uppercase;
    margin: 5px 25px 5px 5px;
    font-weight: 600;
    font-size: 15px;
}
.mini-rounded-btn > i {
    font-weight: 600;
    font-size: 15px;
}

.third > div {
    position: relative;
    display: block;
    width: 100%;
    height: 180px;
}
@media screen and (max-width: 1030px) {
    .third > div {
        height: auto;
    }

}

.third > div > button {
    position: relative;
    bottom: 0;
}
.p-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}
.maps {
    display: block;
    position: relative;
    padding: 0;
}
.contact-maps {
    position: relative;
    margin-top: 15vh;
    }
    .contact-maps > div > div:first-child > iframe{
        border: none;
        width: 100%;}
        .form-wrapper > input, .form-wrapper > textarea{
            border: 0.5px solid #333333;
            width: 100%;
        }
.desc > div > p {
    font-size: 12px;
    text-decoration: none;
    color: #333333;
    letter-spacing: 1px;
    padding-left: 15px;
}

.q::before {
    content: "Q:";
    font-weight: 600;
    padding-right: 5px;
}
.dform-container-wrapper > div {
    display: flex;
    align-items: center;
    border-radius: 25px;
    border: 2px dashed #333333;
    color: #333;
    margin: auto;
    text-align: left;
    transition: 0.3s;
    padding: 50px;
    }
    .dlbtn{
        
        font-family: 'Montserrat', sans-serif;
        color: inherit;
        padding: 0;
        margin: auto;
    }

    .dform-container-wrapper > div:hover{
        background: #666;
        color: #ffffff;
        transition: 0.3s;
    }
    @media screen and (max-width: 455px){ #rc-imageselect, .g-recaptcha { transform:scale(0.71); -webkit-transform:scale(0.71); transform-origin:0 0; -webkit-transform-origin:0 0; }}

.apc > div {
    display: block;
    position: relative;
    width: 100%;}
    @media screen and (max-width: 376px){
        .apc > div {
            width: 70%;
        }
    }
ol > p{
    padding-left: 15px;
    border-left: 2px solid #ff7e00;
}
.pop-holder {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9;
}
.pop-up-img{
    position: fixed;
    display: none;
    top: 10vh;
    width: auto;
    height: 80vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
