.web-menu {
    display: none;
}

.global-two-col, .global-three-col, .global-four-col {
    grid-template-columns: 100%;
}
.global-three-col {
    grid-gap: 2vh;
}

.banner-gfx {
    width: 120%;
}
.bucket-tag {
    text-align: center;
}

.third > div {
    height: auto;
}
.third > div > button {
    position: relative;
}
.mobile-menu {
    display: block;
}
.global-s{padding-top: 10vh;}
.global-small-container {
    width: 90%;
}

.global-small-two-container {
    grid-template-columns: 1fr;
    grid-gap: 50px;
    width: 90%;
    margin: auto;
}
.crumb {
    display: none;
}

.i-footer > div > div > div  > div > div > h2 {
    font-size: 15px;
}